@model MVCProject.Common.ViewModels.CargosVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cargos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expensive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expensive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDollar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDollar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
