@{
    ViewBag.Title = "Track Shipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions{
    public string ConvertToDate(string oldDate)
    {

        var date = DateTime.ParseExact(oldDate, "yyyyMMdd",
                null).ToString("dd-MM-yyyy");
        return date;

    }
}
<style>
    .stepwizard-step p {
        margin-top: 10px;
    }

    .process-row {
        display: table-row;
    }

    .process {
        display: none;
        width: 100%;
        position: relative;
    }

    .process-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .process-row:before {
        top: 50px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .process-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

        .process-step p {
            margin-top: 10px;
        }

    .btn-circle {
        width: 100px;
        height: 100px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8aqIaSa5x1ipY_13Zm1Jf6nBDKcORyis"></script>

<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search"> <i class="fa fa-search"></i> <input id="txtTrackingCode" type="text" class="form-control" placeholder="Enter your tracking code?" value="@(ViewBag.Id != null ? ViewBag.Id : "")"> <button id="btnTrack" class="btn btn-primary">Track</button> </div>
        </div>
    </div>
     <div>
        <a class="dhllink" href="#">
            <span id="tblTrackStatus" class="badge bg-warning text-dark" style="">

            </span>
            <br />
        </a>
    </div>
    <div id="process" class="process">
        <div class="process-row">
            <div class="process-step">
                <button type="button" id="1" class="btn btn-default btn-circle" disabled="disabled"><i class="fas fa-people-carry fa-3x"></i></button>
                <p>Post Accepted</p>
            </div>
            <div class="process-step">
                <button type="button" id="2" class="btn btn-default btn-circle" disabled="disabled"><i class="fas fa-truck-loading fa-3x"></i></button>
                <p>Shipment Forwarded</p>
            </div>
            <div class="process-step">
                <button type="button" id="3" class="btn btn-default btn-circle" disabled="disabled"><img style="width:50px;" src="~/Theme/images/icons/customcheck.jpg"></button>
                <p>Shipment Hold</p>
            </div>
            <div class="process-step">
                <button type="button" id="4" class="btn btn-default btn-circle" disabled="disabled"><i class="fas fa-truck-moving fa-3x "></i></button>
                <p>On Transit</p>
            </div>
            <div class="process-step">
                <button type="button" id="5" class="btn btn-default btn-circle" disabled="disabled"><i class="fas fa-box-open fa-3x"></i></button>
                <p>Delivered</p>
            </div>
        </div>
    </div>

    <table id="tblTrack" class="table table-bordered" style="display:none">
        <thead class="bg-primary text-white">
            <tr>


                <th>Sender Name</th>
                <th>Receiver Name</th>
                <th>Receiver Postal Code</th>

                <th>Shipment Date</th>

                <th>Delivery Country </th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br />
   
</div>
<script src="~/Theme/plugins/jquery/jquery-1.11.3.min.js"></script>

@{
    var ModelforTracking = (MVCProject.WebUI.PTTTrack.TrackingInfo[])ViewBag.TrackingInfo;
    if (ModelforTracking != null)
    {

        <div class="container padding-bottom-3x mb-1" id="trackingResult" style="display: block;">
            <div class="card mb-3">
                <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase" id="originCountryCodediv"> </span>  @(ModelforTracking.First().ulke_ad == "Turkey" ?  "Iraq" : ModelforTracking.First().ulke_ad  ) -->  @ModelforTracking.Last().ulke_ad <span class="text-uppercase" id="destinationCountryCodediv"></span></div>
                <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2">
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium text-uppercase" id="shippingServicediv"> Service: ZuuCargo</span></div>
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium text-uppercase" id="statusdiv">Last Status: @ModelforTracking.Last().gonderi_durum_aciklama</span></div>
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium" id="spnLastUpdateDate">Date : @ConvertToDate(ModelforTracking.Last().islem_tarihi) </span></div>
                </div>
                @if (ViewBag.OtherLink != "")
                {
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-warning"><a href="@ViewBag.OtherLink"> <span class="text-medium">@ViewBag.OtherLink </span></a></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-warning"> <span class="text-medium">@ViewBag.Notes </span></div>
                    </div>
                }
                <div class="card-body">
                    <div class="card card-timeline px-2 border-none">
                        <ul class="bs4-order-tracking">
                            <li class="step @(ModelforTracking.Last().gonderi_durum_aciklama.Contains("Accepted") ? "active" : "") @(ModelforTracking.Last().gonderi_durum_aciklama.Contains("Kabul") ? "active" : "")" id="step1">
                                <div><i class="fas fa-user"></i></div> Package Accepted
                            </li>
                            <li class="step @(ModelforTracking.Last().gonderi_durum_aciklama.Contains("The item was forwarded") ? "active" : "") @(ModelforTracking.Last().gonderi_durum_aciklama.Contains("yönlendirildi") ? "active" : "")" id="step2">
                                <div><i class="fas fa-bread-slice"></i></div> In transit
                            </li>
                            <li class="step @(ModelforTracking.Last().gonderi_durum_aciklama.Contains("Send item out for physical delivery") ? "active" : "") @(ModelforTracking.Last().gonderi_durum_aciklama.Contains("dağıtıma ") ? "active" : "")" id="step3">
                                <div><i class="fas fa-truck"></i></div> Out for delivery
                            </li>
                            <li class="step @(ModelforTracking.Last().gonderi_durum_aciklama.Contains("Deliver item") ? "active" : "") @(ModelforTracking.Last().gonderi_durum_aciklama.Contains("teslim ") ? "active" : "")" id="step4">
                                <div><i class="fas fa-birthday-cake"></i></div> Delivered
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
        <div class="container mt-5 mb-5" id="eventsDiv" style="display: block;">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h4>Events</h4>
                    <ul class="timeline" id="listevents">
                        @foreach (var item in ModelforTracking)
                        {
                            <li class="events">
                                <a target="_blank" href="">

                                    @if (item.ulke_ad == "Turkey")
                                    {
                                        item.ulke_ad = "Iraq";
                                    }

                                    <i class="fa fa-map-marker-alt"></i> @item.ulke_ad
                                </a>
                                <a href="#" class="float-right"><i class="fa  fa-calendar-alt"></i>  @ConvertToDate(item.islem_tarihi)</a>
                                <p id="durumAciklama @item.islem_saati">
                                    <script>
                                        function replaceAll(str, match, replacement) {
                                            return str.split(match).join(replacement);
                                        }
                                        if (Boolean("@item.gonderi_durum_aciklama.Contains("PTT")")) {

                                            document.getElementById('durumAciklama @item.islem_saati').innerHTML
                                                = replaceAll("@item.gonderi_durum_aciklama", "PTT", "ZuuCargo");
                                        } else {
                                            document.getElementById('durumAciklama').innerHTML
                                                = "@item.gonderi_durum_aciklama";
                                        }
                                    </script>
                                </p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <body onload="myfunction();">

            <!--The div element for the map -->
            <div id="map"></div>

            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8aqIaSa5x1ipY_13Zm1Jf6nBDKcORyis&callback=initMap&libraries=&v=weekly"></script>
        </body>
        <script>
     var startlat;
            var startlong;
            var endlat;
            var endlong;

            var geocoder = new google.maps.Geocoder();
            var addressStart = "@ModelforTracking.First().ulke_ad";
            var addressEnd = "@ModelforTracking.Last().ulke_ad";
            if (addressStart == "Turkey") {
                addressStart = "Erbil";
            }

            geocoder.geocode({ 'address': addressStart }, function (results, status) {

                if (status == google.maps.GeocoderStatus.OK) {
                     startlat = results[0].geometry.location.lat();
                     startlong = results[0].geometry.location.lng();

                }
            });
            geocoder.geocode({ 'address': addressEnd }, function (results2, status2) {

                if (status2 == google.maps.GeocoderStatus.OK) {
                     endlat = results2[0].geometry.location.lat();
                     endlong = results2[0].geometry.location.lng();

                }
            });
        </script>
        <script type="text/javascript">
            function myfunction() {


                var map;



                var option = {
                    zoom: 5,
                    center: new google.maps.LatLng(endlat, endlong)
                };
                map = new google.maps.Map(document.getElementById('map'), option);
                var display = new google.maps.DirectionsRenderer();
                var services = new google.maps.DirectionsService();
                display.setMap(map);
                var request = {
                    origin: new google.maps.LatLng(startlat, startlong),
                    destination: new google.maps.LatLng(endlat, endlong),
                    travelMode: 'DRIVING'
                };
                services.route(request, function (result, status) {
                    if (status == 'OK') {
                        display.setDirections(result);
                    }
                });
            }

        </script>
    }
    else if ((MVCProject.Common.ViewModels.ShipmentVM)ViewBag.TrackingInfoNull != null)
    {
        MVCProject.Common.ViewModels.ShipmentVM TrackingInfoShipment = (MVCProject.Common.ViewModels.ShipmentVM)ViewBag.TrackingInfoNull;

        <div class="container padding-bottom-3x mb-1" id="trackingResult" style="display: block;">
            <div class="card mb-3">
                <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase" id="originCountryCodediv"> </span>  TR -->  @TrackingInfoShipment.ReceiverCountryId <span class="text-uppercase" id="destinationCountryCodediv"></span></div>
                <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2">
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium text-uppercase" id="shippingServicediv"> Service: ZuuCargo</span></div>
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium text-uppercase" id="statusdiv">Last Status: Package Accepted</span></div>
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium" id="spnLastUpdateDate">Date : @TrackingInfoShipment.ShipmentDate </span></div>
                    <br />

                </div>
                @if (ViewBag.OtherLink != "")
                {
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-warning"><a href="@ViewBag.OtherLink"> <span class="text-medium">@ViewBag.OtherLink </span></a></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-warning"> <span class="text-medium">@ViewBag.Notes </span></div>
                    </div>
                }
                <div class="card-body">
                    <div class="card card-timeline px-2 border-none">
                        <ul class="bs4-order-tracking">
                            <li class="step active" id="step1">
                                <div><i class="fas fa-user"></i></div> Package Accepted
                            </li>
                            <li class="step " id="step2">
                                <div><i class="fas fa-bread-slice"></i></div> In transit
                            </li>
                            <li class="step" id="step3">
                                <div><i class="fas fa-truck"></i></div> Out for delivery
                            </li>
                            <li class="step " id="step4">
                                <div><i class="fas fa-birthday-cake"></i></div> Delivered
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
        <body onload="myfunction();">

            <!--The div element for the map -->
            <div id="map"></div>

            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8aqIaSa5x1ipY_13Zm1Jf6nBDKcORyis&callback=initMap&libraries=&v=weekly"></script>
        </body>
        if (ModelforTracking != null)
        {
            <script>
     var startlat;
            var startlong;
            var endlat;
            var endlong;

            var geocoder = new google.maps.Geocoder();
            var addressStart = "@ModelforTracking.First().ulke_ad";
            var addressEnd = "@ModelforTracking.Last().ulke_ad";

                if (addressStart == "Turkey") {
                    addressStart = "Erbil";
                }
            geocoder.geocode({ 'address': addressStart }, function (results, status) {

                if (status == google.maps.GeocoderStatus.OK) {
                     startlat = results[0].geometry.location.lat();
                     startlong = results[0].geometry.location.lng();

                }
            });
            geocoder.geocode({ 'address': addressEnd }, function (results2, status2) {

                if (status2 == google.maps.GeocoderStatus.OK) {
                     endlat = results2[0].geometry.location.lat();
                     endlong = results2[0].geometry.location.lng();

                }
            });
            </script>
            <script type="text/javascript">
                function myfunction() {


                    var map;



                    var option = {
                        zoom: 5,
                        center: new google.maps.LatLng(endlat, endlong)
                    };
                    map = new google.maps.Map(document.getElementById('map'), option);
                    var display = new google.maps.DirectionsRenderer();
                    var services = new google.maps.DirectionsService();
                    display.setMap(map);
                    var request = {
                        origin: new google.maps.LatLng(startlat, startlong),
                        destination: new google.maps.LatLng(endlat, endlong),
                        travelMode: 'DRIVING'
                    };
                    services.route(request, function (result, status) {
                        if (status == 'OK') {
                            display.setDirections(result);
                        }
                    });
                }

            </script>
        }

    }
    else
    {
        <script>
            function convertToJavaScriptDate(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
            }

            function isLetter(str) {
                return str.length === 1 && str.match(/[a-z]/i);
            }

            $(document).ready(function () {
                //DHL TRACK
                $("#eventsDiv").hide();
                $("#trackingResult").hide();


                $("#btnTrack").click(function () {
                  
                    var trackingNumber = $("#txtTrackingCode").val();
                    var dataToSend = [{ name: "trackNo", value: trackingNumber }];
                    if (trackingNumber.startsWith("VK")) {

                        $.ajax({
                            type: "POST",
                            url: "https://var-kargo.com/Home/TrackOrder",
                            data: JSON.stringify(dataToSend)
,
                            dataType: "json",
                            contentType: "application/json",

                            success: function (data) {
                                {
                                    window.location.href = 'https://zuucargo.com/Track/TrackShipmentVK/' + trackingNumber; //Will take you to Google.
                                    //var x = document.getElementById("process");
                                    //var y = document.getElementById("tblTrack");
                                    //var z = document.getElementById("tblTrackStatus");
                                    //x.style.display = "table";
                                    //y.style.display = "table";
                                    //z.style.display = "table";

                                    //var trackTable = $('#tblTrack tbody');
                                    //trackTable.empty();
                                    //$(data).each(function (index, prc) {
                                    //    //(prc.IsExpress == (true) ? prc.IsExpress = "Express" : prc.IsExpress = "Normal")
                                    //    trackTable.append('<tr><td>' + prc.SenderName + '</td><td>' + prc.ReceiverName + '</td><td>' + prc.ReceiverPostalCode + '</td><td>'
                                    //        + convertToJavaScriptDate(prc.ShipmentDate) + '</td><td>' + prc.ReceiverCountryId + '</td><td>' + prc.Status + '</td></tr>');
                                    //    $("#tblTrackStatus").text(prc.DHLLink)
                                    //    $("a.dhllink").attr("href", prc.DHLLink);
                                    //    if (prc.StatusId == 1) {
                                    //        document.getElementById("1").classList.add('btn-success');
                                    //    }
                                    //    if (prc.StatusId == 2) {
                                    //        document.getElementById("1").classList.add('btn-success');
                                    //        document.getElementById("2").classList.add('btn-success');
                                    //    }
                                    //    if (prc.StatusId == 3) {
                                    //        document.getElementById("1").classList.add('btn-success');
                                    //        document.getElementById("2").classList.add('btn-success');
                                    //        document.getElementById("3").classList.add('btn-success');

                                    //    }
                                    //    if (prc.StatusId == 4) {
                                    //        document.getElementById("1").classList.add('btn-success');
                                    //        document.getElementById("2").classList.add('btn-success');
                                    //        document.getElementById("3").classList.add('btn-success');
                                    //        document.getElementById("4").classList.add('btn-success');

                                    //    }
                                    //    if (prc.StatusId == 5) {
                                    //        document.getElementById("1").classList.add('btn-success');
                                    //        document.getElementById("2").classList.add('btn-success');
                                    //        document.getElementById("3").classList.add('btn-success');
                                    //        document.getElementById("4").classList.add('btn-success');
                                    //        document.getElementById("5").classList.add('btn-success');

                                    //    }

                                    //});
                                }
                            },
                            error: function (hata, ajaxOptions, thrownError) {
                                alert("Not Found!");
                            }
                        });

                    }
                    else if (isLetter(trackingNumber)) {
                        const settings = {
                            "async": true,
                            "crossDomain": true,
                            "url": "https://api-eu.dhl.com/track/shipments?trackingNumber=" + trackingNumber,
                            "method": "GET",
                            "headers": {
                                "DHL-API-Key": "Mtatsy0Rk1MIcQG3gGFkfZKpADKOHgD0"
                            }
                        };

                        $.ajax(settings).done(function (response) {
                            let regionNames = new Intl.DisplayNames(['en'], { type: 'region' });

                            var jsonData = response;
                            for (var i = 0; i < jsonData.shipments.length; i++) {
                                var counter = jsonData.shipments[i];

                                var originCountryCode = counter.origin.address.countryCode;
                                if (originCountryCode != null) {
                                    var originCountryCodediv = document.getElementById('originCountryCodediv');
                                    originCountryCodediv.innerHTML = regionNames.of(originCountryCode);

                                }
                                var destinationCountryCode = counter.destination.address.countryCode;
                                if (destinationCountryCode != null) {
                                    var destinationCountryCodediv = document.getElementById('destinationCountryCodediv');
                                    destinationCountryCodediv.innerHTML = regionNames.of(destinationCountryCode);
                                }



                                var shippingService = counter.service;
                                var shippingServicediv = document.getElementById('shippingServicediv');
                                shippingServicediv.innerHTML = " Service: " + shippingService;


                                var destinationPostalCode = counter.destination.address.postalCode;
                                var destinationAddressLocality = counter.destination.address.addressLocality;

                                if (counter.details.dimensions != null) {
                                    var detailsWidth = counter.details.dimensions.width.value;
                                    var detailsHeight = counter.details.dimensions.height.value;
                                    var detailsLength = counter.details.dimensions.length.value;
                                    var detailsWeight = counter.details.weight.value;
                                }

                                var originPostalCode = counter.origin.address.postalCode;
                                var originAddressLocality = counter.origin.address.addressLocality;

                                var status = counter.status.status;
                                var statusdiv = document.getElementById('statusdiv');
                                statusdiv.innerHTML = "Last Status: " + status;

                                if (status == "pre-transit") {
                                    var step1div = document.getElementById("step1");
                                    step1div.className += " active";
                                }
                                if (status == "transit") {
                                    var step2div = document.getElementById("step2");
                                    step2div.className += " active";
                                }
                                if (status == "delivered") {
                                    var step1div = document.getElementById("step1");
                                    step1div.className += " active";
                                    var step2div = document.getElementById("step2");
                                    step2div.className += " active";
                                    var step3div = document.getElementById("step3");
                                    step3div.className += " active";
                                    var step4div = document.getElementById("step4");
                                    step4div.className += " active";
                                }

                                var timeStamp = counter.status.timestamp;
                                var lastUpdateDatediv = document.getElementById('spnLastUpdateDate');

                                lastUpdateDatediv.innerHTML = "Date : " + new Date(timeStamp).toDateString() + " " + new Date(timeStamp).toLocaleTimeString();

                                $("#eventsDiv").show();
                                $("#trackingResult").show();


                                for (var ev = 0; ev < counter.events.length; ev++) {
                                    var counterEvent = counter.events[ev];

                                    document.getElementById('listevents').innerHTML += '<li class="events"><a target="_blank" href=""><i class="fa fa-map-marker-alt"></i> ' + counterEvent.location.address.addressLocality + ' </a><a href="#" class="float-right"><i class="fa  fa-calendar-alt"></i>  ' + new Date(counterEvent.timestamp).toDateString() + " " + new Date(counterEvent.timestamp).toLocaleTimeString() + '</a><p>' + counterEvent.description + '</p></li>';
                                }

                            }
                        });
                    }
                    else {

                        location.href = "https://www.zuucargo.com/Track/TrackShipment/" + trackingNumber;



                    }

                });

            });



        </script>
        <div class="container padding-bottom-3x mb-1" id="trackingResult">
            <div class="card mb-3">
                <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase" id="originCountryCodediv"> </span> --> <span class="text-uppercase" id="destinationCountryCodediv"></span></div>
                <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2">
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium text-uppercase" id="shippingServicediv"></span></div>
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium text-uppercase" id="statusdiv">Status:</span></div>
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium" id="spnLastUpdateDate"></span></div>
                </div>
                <div class="card-body">
                    <div class="card card-timeline px-2 border-none">
                        <ul class="bs4-order-tracking">
                            <li class="step" id="step1">
                                <div><i class="fas fa-user"></i></div> Package Accepted
                            </li>
                            <li class="step" id="step2">
                                <div><i class="fas fa-bread-slice"></i></div> In transit
                            </li>
                            <li class="step" id="step3">
                                <div><i class="fas fa-truck"></i></div> Out for delivery
                            </li>
                            <li class="step" id="step4">
                                <div><i class="fas fa-birthday-cake"></i></div> Delivered
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            @*<div class="d-flex flex-wrap flex-md-nowrap justify-content-center justify-content-sm-between align-items-center">
                    <div class="custom-control custom-checkbox mr-3">
                        <input class="custom-control-input" type="checkbox" id="notify_me" checked="">
                        <label class="custom-control-label" for="notify_me">Notify me when order is delivered</label>
                    </div>
                    <div class="text-left text-sm-right"><a class="btn btn-outline-primary btn-rounded btn-sm" href="orderDetails" data-toggle="modal" data-target="#orderDetails">View Order Details</a></div>
                </div>*@
        </div>

        <div class="container mt-5 mb-5" id="eventsDiv">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h4>Events</h4>
                    <ul class="timeline" id="listevents">
                    </ul>
                </div>
            </div>
        </div>

    }
}
<style>
    @@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

    ul .listevents {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    ul > li .events {
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }


    .height {
        height: 30vh
    }

    .search {
        position: relative;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1)
    }

        .search input {
            height: 60px;
            text-indent: 25px;
            border: 2px solid #d6d4d4
        }

            .search input:focus {
                box-shadow: none;
                border: 2px solid blue
            }

        .search .fa-search {
            position: absolute;
            top: 20px;
            left: 16px
        }

        .search button {
            position: absolute;
            top: 5px;
            right: 5px;
            height: 50px;
            width: 110px;
            background: blue
        }


    .bs4-order-tracking {
        margin-bottom: 30px;
        overflow: hidden;
        color: #878788;
        padding-left: 0px;
        margin-top: 30px
    }

        .bs4-order-tracking li {
            list-style-type: none;
            font-size: 13px;
            width: 25%;
            float: left;
            position: relative;
            font-weight: 400;
            color: #878788;
            text-align: center
        }

            .bs4-order-tracking li:first-child:before {
                margin-left: 15px !important;
                padding-left: 11px !important;
                text-align: left !important
            }

            .bs4-order-tracking li:last-child:before {
                margin-right: 5px !important;
                padding-right: 11px !important;
                text-align: right !important
            }

            .bs4-order-tracking li > div {
                color: #fff;
                width: 29px;
                text-align: center;
                line-height: 29px;
                display: block;
                font-size: 12px;
                background: #878788;
                border-radius: 50%;
                margin: auto
            }

            .bs4-order-tracking li:after {
                content: '';
                width: 150%;
                height: 2px;
                background: #878788;
                position: absolute;
                left: 0%;
                right: 0%;
                top: 15px;
                z-index: -1
            }

            .bs4-order-tracking li:first-child:after {
                left: 50%
            }

            .bs4-order-tracking li:last-child:after {
                left: 0% !important;
                width: 0% !important
            }

            .bs4-order-tracking li.active {
                font-weight: bold;
                color: #1FB5C7
            }

                .bs4-order-tracking li.active > div {
                    background: #1FB5C7
                }

                .bs4-order-tracking li.active:after {
                    background: #1FB5C7
                }

    .card-timeline {
        background-color: #fff;
        z-index: 0
    }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">



<style>

    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }
</style>

