@model IEnumerable<MVCProject.Common.ViewModels.ZoneVM>

@{
    ViewBag.Title = "Zones";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Theme/js/datatables.min.css">

<script type="text/javascript" charset="utf8" src="~/Theme/js/datatables.min.js"></script>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="table_id">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
               
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable();
    });</script>