
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MVCProject.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Şifre Hatırlatma ";
}

<br />
<div id="services">
    <div class="title">
        <h2>Şifre Değiştirme</h2>
        <span class="underline">&nbsp;</span>
    </div>
</div>

<div class="form-horizontal">
    <div class="col-md-4">
        <img src="~/Theme/img/icon-reset-password.png" />
    </div>
    <div class="col-md-8">
        <h4> Hesabınız için yeni şifre belirleyiniz.</h4>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
      
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Şifremi Değiştir" />
            </div>
        </div>
}
        <br />
        <br />

      
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

