
@{
    ViewBag.Title = "Report";
   
}
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@ViewBag.ShipmentCount </h3>
                <p>Total Shipment</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="../../Admin/Shipment/Index" class="small-box-footer">Detaylar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewBag.Accounting $<sup style="font-size: 20px"></sup></h3>
                <p>Total Accounting</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="../../Admin/Accounting/Index" class="small-box-footer">Detaylar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@ViewBag.Cargos2 $</h3>
                <p>Total Cargo</p>
            </div>
            <div class="icon">
                <i class="ion ion-cube"></i>
            </div>
            <a href="../../Admin/Cargos/Index" class="small-box-footer">Detaylar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-fuchsia">
            <div class="inner">
                <h3>@ViewBag.Refunds $</h3>
                <p>Total Refunds Count</p>
            </div>
            <div class="icon">
                <i class="ion ion-arrow-return-left"></i>
            </div>
            <a href="../../Admin/Refund/Index" class="small-box-footer">Detaylar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@ViewBag.LostOrders $</h3>
                <p>Lost Orders Count</p>
            </div>
            <div class="icon">
                <i class="ion ion-sad-outline"></i>
            </div>
            <a href="../../Admin/Lost/Index" class="small-box-footer">Detaylar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-lime">
            <div class="inner">
                <h3>@ViewBag.Costs $</h3>
                <p>Total Costs Count</p>
            </div>
            <div class="icon">
                <i class="ion ion-cash"></i>
            </div>
            <a href="../../Admin/Costs/Index" class="small-box-footer">Detaylar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-gray">
            <div class="inner">
                <h3>@ViewBag.KamuBorcUK $</h3>
                <p>Total Kamu UK</p>
            </div>
            <div class="icon">
                <i class="ion ion-briefcase"></i>
            </div>
            <a href="../../Admin/KamuBorc/Index" class="small-box-footer">Detaylar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <!-- small box -->
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-gray">
            <div class="inner">
                <h3>@ViewBag.KamuBorcTurkey $</h3>
                <p>Total Kamu Turkey </p>
            </div>
            <div class="icon">
                <i class="ion ion-briefcase"></i>
            </div>
            <a href="../../Admin/KamuBorc/Index" class="small-box-footer">Detaylar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <!-- small box -->
    <div class="col-lg-3 col-xs-6">

        <div class="small-box bg-navy">
            <div class="inner">
                <h3>@ViewBag.BoxsVar $</h3>
                <p>Total Boxs Var </p>
            </div>
            <div class="icon">
                <i class="ion ion-briefcase"></i>
            </div>
            <a href="../../Admin/BoxsVar/Index" class="small-box-footer">Detaylar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <!-- ./col -->
    <!-- /.row -->
</div>
